section.repositories {
    margin: 40px;

    &__title {
        margin-bottom: 16px;
    }

    &__list {
        list-style: none;

        &-item {
            & + &-item {
                margin-top: 20px;
            }

            .list-item__title {
                color: #4d338a;
            }

            .list-item__description {
                font-size: 14px;
                margin-top: 8px;
            }

            .list-item__link {
                color: #8257e6;
                display: inline-block;
                margin-top: 16px;
                text-decoration: none;
            }
            
        }
    }
}